* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    margin: 0 auto;
}

.content {
    display: grid;
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem;
        border-radius: 1rem;
    }
}