#searchInput {
  border: none;
  outline: none;
  box-sizing: border-box;
  align-items: center;
  margin: 11px;
  padding: 0.7rem;
  width: 400px; 
  border-radius: 15px;
  background-color: white;
  box-shadow: inset 1px 3px 5px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

#searchInput:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: inset 1px 3px 5px rgba(0,0,0,0.3);
}

